// Body
$body-bg: #f8fafc;
$primary: purple;
$dark: #09031f;
$link-hover-color: rgb(205, 113, 241); //green

$theme-colors: (
    "primary": purple,
    "dark": #09031f,
);

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;
